.areaTexto {
	background-color: #F3F5FC;
	border: none;
	color: #0A3871;
	font-family: 'Inter';
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	height: 300px;
	line-height: 150%;
	width: 100%;

}